# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.venv_tabsyn/

# Logs and caches
.pytest_cache/
.mypy_cache/
.cache/

# Ignore outputs and models directories
ctgan/outputs/
tvae/outputs/
tabsyn/outputs/
evaluation/outputs/

# Ignore graph data visuals
graph_data/

# Ignore external cloned repos
external/

# Ignore all CSV files everywhere (no exceptions)
*.csv

# OS files
.DS_Store
Thumbs.db
